<header class="main-header">

        <!-- Logo -->
        <a href="" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>SGE</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>ITED</b> SGE</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Navegación</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li dropdown class="dropdown notifications-menu">
                        <!--<a dropdownToggle class="dropdown-toggle">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">Hoy</span>
                        </a>-->
                        <ul *dropdownMenu class="dropdown-menu">
                            <li class="header">Estadísticas del día de hoy</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Total Compras: $;
                                        </a>

                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> Total Ventas: $;
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">Ver todo</a></li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li dropdown class="dropdown user user-menu">
                        <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                            <!--<img src="assets/images/Logo New Sky letras.png" class="user-image" alt="User Image">-->
                            <span class="hidden-xs">{{local.local_nombre}} - {{empresa.nombre_comercial}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <!--<img src="assets/images/Logo New Sky letras.png" class="img-circle" alt="User Image">-->
                                <p>
                                  {{usuario.email}} - {{usuario.nombre}} {{usuario.apellido}}
                                  <small> {{local.local_nombre}} - {{empresa.nombre_comercial}} </small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="" class="btn btn-default btn-flat">Cambiar Sucursal</a>
                                </div>
                                <div class="pull-right">
                                    <a href="" class="btn btn-default btn-flat">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
</header>
