<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissible]="true">{{ alert.msg }}</alert>
    </div>
  </div>
</div>

<div class="row" *ngIf="!facturando">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Facturas</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-14" id="VerForm" style="display: block;">
              <button class="btn btn-success" style="margin-bottom: 40px;" (click)="nuevafactura()">
                <i class="fa fa-plus"></i>
                Nueva Factura
              </button>
              <div id="VerListado" class="dataTables_wrapper form-inline dt-bootstrap">
                <dx-data-grid
                    id="gridContainer"
                    [dataSource]="facturas"
                    [noDataText]="noDataText"
                    keyExpr="id"
                    [allowColumnReordering]="true">
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager
                      infoText="Mostrando {0} to {1} de {2} I.V.A."
                      [showInfo]="true"
                      [showNavigationButtons]="true">
                  </dxo-pager>
                  <dxo-editing
                      mode="row"
                      [texts]="{
                        cancelAllChanges: cancelAllChanges,
                        cancelRowChanges: cancelRowChanges,
                        confirmDeleteMessage: confirmDeleteMessage,
                        deleteRow: deleteRow,
                        editRow: editRow,
                        saveAllChanges: saveAllChanges,
                        saveRowChanges: saveRowChanges,
                        undeleteRow: undeleteRow,
                        validationCancelChanges: validationCancelChanges
                      }">
                  </dxo-editing>
                  <dxo-search-panel placeholder="Buscar..." [visible]="true"></dxo-search-panel>

                  <!--<dxi-column dataField="nombre" caption="Nombre" [width]="400"></dxi-column>
                  <dxi-column dataField="descripcion" caption="Descripción"></dxi-column>-->

                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="facturando">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Nueva Factura</h3>
        <div class="box-tools">
          <a class="dropdown-toggle">
            <i class="fa fa-cog"></i>
          </a>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-14" id="VerForm" style="display: block;">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div id="tabs">
                    <dx-tabs
                        [dataSource]="tabs"
                        [selectedIndex]="0"
                        (onItemClick)="selectTab($event)"
                        [disabled]="true">
                    </dx-tabs>
                  </div>
                </div>
              </div>

              <form name="frmSucursal" id="frmSucursal" (submit)="siguiente($event)" *ngIf="tabContent == 'Pedido'">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Tipo Documento:
                        <span class="required">*</span>
                      </label>
                      <dx-select-box
                          [dataSource]="tipoDocumentos"
                          displayExpr="nombre"
                          valueExpr="id"
                          placeholder="Seleccione el tipo de documento"
                          [(value)]="factura.td"
                          (onValueChanged)="cambioTipoDocumento($event)">
                        <dx-validator>
                          <dxi-validation-rule type="required" message="Tipo de documento es requerido"></dxi-validation-rule>
                        </dx-validator>
                      </dx-select-box>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Número de documento:
                        <span class="required">*</span>
                      </label>
                      <dx-text-box class="form-control"
                          name="documento"
                          [(value)]="factura.documento"
                          [disabled]="consumidorfinal"
                          (onValueChanged)="documentoChanged($event)">
                        <dx-validator>
                          <dxi-validation-rule type="required" message="Nombre legal es requerido"></dxi-validation-rule>
                        </dx-validator>
                      </dx-text-box>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Nombre o Razón Social:
                        <span class="required">*</span>
                      </label>
                      <dx-text-box class="form-control"
                          name="nombre"
                          [(value)]="factura.nombre"
                          [disabled]="consumidorfinal">
                        <dx-validator>
                          <dxi-validation-rule type="required" message="Nombre legal es requerido"></dxi-validation-rule>
                        </dx-validator>
                      </dx-text-box>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Dirección:
                        <span class="required">*</span>
                      </label>
                      <dx-text-box class="form-control"
                          name="direccion"
                          [(value)]="factura.direccion"
                          [disabled]="consumidorfinal">
                        <dx-validator>
                          <dxi-validation-rule type="required" message="Dirección es requerida"></dxi-validation-rule>
                        </dx-validator>
                      </dx-text-box>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>
                        Correo Electrónico:
                      </label>
                      <dx-text-box class="form-control"
                          mode="email"
                          name="email"
                          [(value)]="factura.email"
                          [disabled]="consumidorfinal">
                      </dx-text-box>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Teléfono Convencional:
                      </label>
                      <dx-text-box class="form-control"
                          mask="(X0)0000000"
                          [maskRules]="phoneRules"
                          [useMaskedValue]="true"
                          name="telefono"
                          [(value)]="factura.convencional">
                      </dx-text-box>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Número Celular:
                      </label>
                      <dx-text-box class="form-control"
                          mask="(X00)0000000"
                          [maskRules]="phoneRules"
                          maskInvalidMessage="No cumple con el formato telefónico celular"
                          [useMaskedValue]="true"
                          name="celular"
                          [(value)]="factura.celular">
                      </dx-text-box>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Teléfono Opcional:
                      </label>
                      <dx-text-box class="form-control"
                          name="telefono"
                          [(value)]="factura.opcional">
                      </dx-text-box>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Serie:
                      </label>
                      <dx-text-box class="form-control"
                          name="telefono"
                          [(value)]="factura.serie">
                      </dx-text-box>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group">
                      <label>Autorización:
                      </label>
                      <dx-text-box class="form-control"
                          name="telefono"
                          [(value)]="factura.autorizacion">
                      </dx-text-box>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>
                        Producto:
                      </label>
                      <dx-lookup
                          class="field-customization"
                          [items]="productos"
                          [displayExpr]="displayProductos"
                          valueExpr="id"
                          title="Seleccione un producto"
                          [value]="productos[0].id"
                          fieldTemplate="field"
                          (onValueChanged)="cambioProducto($event)">
                        <div *dxTemplate="let item of 'field'">
                          <div class="custom-field">
                            <strong>Código: </strong>{{item.codigo}}
                            <strong>Nombre</strong> {{item.nombre}}
                            <strong>Precio:</strong> ${{item.costo}}
                          </div>
                        </div>
                      </dx-lookup>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label>
                        Descripción:
                      </label>
                      <dx-text-box class="form-control"
                          name="descripcion"
                          [(value)]="producto.desc">
                      </dx-text-box>
                    </div>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                      <label>
                        Cantidad:
                      </label>
                      <dx-number-box
                          [(value)]="factura.cant_producto"
                          [min]="0"
                          [max]="factura.min"
                          [showSpinButtons]="true">
                      </dx-number-box>
                    </div>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <button type="button" class="btn btn-success" style="margin-top: 22px;"
                        (click)="agregarCarrito()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <dx-data-grid
                        id="gridContainer"
                        [dataSource]="carrito"
                        [noDataText]="noDataText"
                        keyExpr="id"
                        [allowColumnReordering]="true"
                        (onRowRemoved)="eliminarProducto($event)">
                      <dxo-paging [pageSize]="10"></dxo-paging>
                      <dxo-pager
                          infoText="Mostrando {0} to {1} de {2} ingresos"
                          [showInfo]="true"
                          [showNavigationButtons]="true">
                      </dxo-pager>
                      <dxo-editing
                          mode="row"
                          [allowDeleting]="true"
                          [texts]="{
                            cancelAllChanges: cancelAllChanges,
                            cancelRowChanges: cancelRowChanges,
                            confirmDeleteMessage: confirmDeleteMessage,
                            deleteRow: deleteRow,
                            editRow: editRow,
                            saveAllChanges: saveAllChanges,
                            saveRowChanges: saveRowChanges,
                            undeleteRow: undeleteRow,
                            validationCancelChanges: validationCancelChanges
                          }">
                      </dxo-editing>

                      <dxi-column dataField="codigo" caption="Código" [width]="150"></dxi-column>
                      <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
                      <dxi-column dataField="desc" caption="Descripción"></dxi-column>
                      <dxi-column dataField="cantidad" caption="Cantidad" [width]="120" dataType="number"></dxi-column>
                      <dxi-column dataField="costo" caption="Precio Unitario" [width]="150" dataType="float" alignment="right" format="currency"></dxi-column>
                      <dxi-column dataField="pt" caption="Precio Total" [width]="150" dataType="float" alignment="right" format="currency"></dxi-column>

                      <dxo-summary>
                        <dxi-total-item
                            column="pt"
                            summaryType="sum"
                            valueFormat="currency"
                            [customizeText]="customizeSum">
                        </dxi-total-item>
                      </dxo-summary>
                    </dx-data-grid>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2 col-lg-offset-10 col-md-4 col-md-offset-8 col-sm-4 col-xs-4">
                    <label>
                      IVA 12%
                    </label>
                    <div class="form-group">
                      <div class="input-group has-success">
                        <input id="txtImpuesto" type="text" class="form-control"
                          style="text-align:right;" [(value)]="factura.total_iva" name="factura.total_iva" disabled>
                        <div class="input-group-addon">%</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2 col-lg-offset-10 col-md-4 col-md-offset-8 col-sm-4 col-xs-4">
                    <label>
                      IVA 0%
                    </label>
                    <div class="form-group">
                      <div class="input-group has-success">
                        <input id="txtImpuesto" type="text" class="form-control"
                          style="text-align:right;" [(value)]="factura.iva_cero" name="factura.iva_cero" disabled>
                        <div class="input-group-addon">%</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2 col-lg-offset-10 col-md-4 col-md-offset-8 col-sm-4 col-xs-4">
                    <label>
                      Total:
                    </label>
                    <div class="form-group">
                      <div class="input-group has-success">
                        <input id="txtImpuesto" type="text" class="form-control"
                          style="text-align:right;" [(value)]="factura.total"
                          name="factura.total.toFixed(2)" disabled>
                        <div class="input-group-addon">$</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
                  <dx-button
                      text="Siguiente"
                      type="success"
                      class="btn btn-success pull-right"
                      [useSubmitBehavior]="true"
                      [disabled]="carritoLleno">
                  </dx-button>
                  <dx-button
                      type="danger"
                      (click)="cancelar()"
                      class="btn btn-danger pull-right"
                      text="Cancelar"
                      style="margin-right: 5px;">
                  </dx-button>
                </div>
              </form>

              <div class="row" *ngIf="tabContent == 'Pago'">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form name="frmSucursal" id="frmSucursal" (submit)="agregarPago($event)">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Forma de Pago:
                            <span class="required">*</span>
                          </label>
                          <dx-select-box
                              [dataSource]="formasPago"
                              displayExpr="nombre"
                              valueExpr="id"
                              placeholder="Seleccione la forma de pago"
                              (onValueChanged)="cambioFormaPago($event)">
                          </dx-select-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                        <div class="form-group">
                          <label>Valor:
                            <span class="required">*</span>
                          </label>
                          <dx-number-box class="form-control"
                              [(value)]="pago.aporte"
                              [min]="0"
                              [showSpinButtons]="true">
                          </dx-number-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Tarjeta'">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>Cuenta:
                            <span class="required">*</span>
                          </label>
                          <dx-select-box
                              [dataSource]="cuentas"
                              displayExpr="nombre"
                              valueExpr="id"
                              placeholder="Seleccione la cuenta acreditadora"
                              (onValueChanged)="cambioCuenta($event)">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="Cuenta es requerida"></dxi-validation-rule>
                              </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>Débito/Crédito:
                            <span class="required">*</span>
                          </label>
                          <dx-select-box
                              [dataSource]="tiposTarjetas"
                              displayExpr="nombre"
                              valueExpr="id"
                              placeholder="Seleccione el tipo de tarjeta"
                              (onValueChanged)="cambioTipoTarjeta($event)">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="Débito/crédito es requerido"></dxi-validation-rule>
                              </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Tarjeta'">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Tipo de Tarjeta:
                            <span class="required">*</span>
                          </label>
                          <dx-select-box
                              [dataSource]="marcasTarjetas"
                              displayExpr="nombre"
                              valueExpr="id"
                              placeholder="Seleccione el tipo de tarjeta"
                              (onValueChanged)="cambioTipoTarjeta($event)">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Tipo de tarjeta es requerida"></dxi-validation-rule>
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Nº Tarjeta:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              mode="number"
                              [(value)]="pago.tarjeta">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Nº de tarjeta es requerida"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Tarjeta'">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Fecha de Vencimiento:
                            <span class="required">*</span>
                          </label>
                          <dx-date-box style="width: 100%;"
                              (onValueChanged)="cambioFecha($event)"
                              invalidDateMessage="La fecha debe tener el siguiente formato: dd/MM/yyyy">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Fecha es requerida"></dxi-validation-rule>
                            </dx-validator>
                          </dx-date-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Código de Seguridad:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              mode="number"
                              [(value)]="pago.codigo_seguridad">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Código de seguridad es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Tarjeta'">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Código de Autorización:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              mode="number"
                              [(value)]="pago.codigo_autorizacion">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Código de autorización es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Titular:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.titular">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Titular es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Transferencia bancaria'">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                        <div class="form-group">
                          <label>Cuenta:
                            <span class="required">*</span>
                          </label>
                          <dx-select-box
                              [dataSource]="cuentas"
                              displayExpr="nombre"
                              valueExpr="id"
                              placeholder="Seleccione la cuenta acreditadora"
                              (onValueChanged)="cambioCuenta($event)">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Cuenta es requerida"></dxi-validation-rule>
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                        <div class="form-group">
                          <label>Banco:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.banco">
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Código de Referencia:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.titular">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Titular es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Titular:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.titular">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Titular es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Cheque'">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                        <div class="form-group">
                          <label>Banco:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.banco">
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Código de Referencia:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.titular">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Titular es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                        <div class="form-group">
                          <label>
                            Titular:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.titular">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Titular es requerido"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                        <div class="form-group">
                          <label>Número Telefónico:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              [(value)]="pago.celular">
                          </dx-text-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="formaPago.nombre == 'Pago electrónico'">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                        <div class="form-group">
                          <label>Email:
                            <span class="required">*</span>
                          </label>
                          <dx-text-box class="form-control"
                              name="banco"
                              [(value)]="pago.email">
                            <dx-validator>
                              <dxi-validation-rule type="email"></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="tabContent == 'Pago'">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <dx-button
                            icon="fa fa-plus"
                            type="success"
                            [useSubmitBehavior]="true"
                            class="btn btn-success pull-right">
                        </dx-button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="row" *ngIf="tabContent == 'Pago'" style="margin-top: 20px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <dx-data-grid
                      id="gridContainer"
                      [dataSource]="registroPagos"
                      [noDataText]="noDataText"
                      [allowColumnReordering]="true"
                      (onRowRemoving)="eliminarPago($event)">
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager
                        infoText="Mostrando {0} to {1} de {2} pagos"
                        [showInfo]="true"
                        [showNavigationButtons]="true">
                    </dxo-pager>
                    <dxo-editing
                        mode="row"
                        [allowDeleting]="true"
                        [texts]="{
                          cancelAllChanges: cancelAllChanges,
                          cancelRowChanges: cancelRowChanges,
                          confirmDeleteMessage: confirmDeleteMessage,
                          deleteRow: deleteRow,
                          editRow: editRow,
                          saveAllChanges: saveAllChanges,
                          saveRowChanges: saveRowChanges,
                          undeleteRow: undeleteRow,
                          validationCancelChanges: validationCancelChanges
                        }">
                    </dxo-editing>

                    <dxi-column dataField="tipo_pago" caption="Forma pago"></dxi-column>
                    <dxi-column dataField="aporte" caption="Valor"></dxi-column>

                  </dx-data-grid>
                </div>
              </div>

              <div class="row" *ngIf="tabContent == 'Pago'">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left">
                  <label>
                    Neto a pagar:
                  </label>
                  <div class="form-group">
                    <div class="input-group has-success">
                      <input id="txtImpuesto" type="text" class="form-control"
                        style="text-align:right;" [(value)]="factura.total"
                        name="factura.total" disabled>
                      <div class="input-group-addon">$</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left">
                  <label>
                    Valor pagado:
                  </label>
                  <div class="form-group">
                    <div class="input-group has-success">
                      <input id="txtImpuesto" type="text" class="form-control"
                        style="text-align:right;" [(value)]="factura.cancela"
                        name="factura.cancela" disabled>
                      <div class="input-group-addon">$</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left">
                  <label>
                    Vuelto:
                  </label>
                  <div class="form-group">
                    <div class="input-group has-success">
                      <input id="txtImpuesto" type="text" class="form-control"
                        style="text-align:right;" [(value)]="factura.vuelto"
                        name="factura.vuelto" disabled>
                      <div class="input-group-addon">$</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="tabContent == 'Pago'">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
                  <dx-button
                      text="Guardar"
                      type="success"
                      class="btn btn-success pull-right"
                      [useSubmitBehavior]="true"
                      [disabled]="guardando"
                      (click)="guardar($event)">
                  </dx-button>
                  <dx-button
                      type="danger"
                      (click)="atras()"
                      class="btn btn-danger pull-right"
                      text="Atras"
                      style="margin-right: 5px;">
                  </dx-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
