<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissible]="true">{{ alert.msg }}</alert>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Rol</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-14" id="VerForm" style="display: block;">
                            <form name="frmSucursal" id="frmSucursal" (submit)="guardar($event)">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Nombre:
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                name="nombre"
                                                [(value)]="nuevo.nombre">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Descripción:
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                name="descripcion"
                                                [(value)]="nuevo.descripcion">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Descripción es requerida"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
                                    <dx-button
                                        text="Guardar"
                                        icon="save"
                                        type="success"
                                        [useSubmitBehavior]="true"
                                        class="btn btn-success pull-right">
                                    </dx-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Roles</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-14" id="VerForm" style="display: block;">
              <div id="VerListado" class="dataTables_wrapper form-inline dt-bootstrap">
                <dx-data-grid
                    id="gridContainer"
                    [dataSource]="roles"
                    [noDataText]="noDataText"
                    keyExpr="id"
                    [allowColumnReordering]="true"
                    (onRowUpdating)="editar($event)">
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager
                      infoText="Mostrando {0} to {1} de {2} I.V.A."
                      [showInfo]="true"
                      [showNavigationButtons]="true">
                  </dxo-pager>
                  <dxo-editing
                      mode="row"
                      [allowUpdating]="true"
                      [texts]="{
                        cancelAllChanges: cancelAllChanges,
                        cancelRowChanges: cancelRowChanges,
                        confirmDeleteMessage: confirmDeleteMessage,
                        deleteRow: deleteRow,
                        editRow: editRow,
                        saveAllChanges: saveAllChanges,
                        saveRowChanges: saveRowChanges,
                        undeleteRow: undeleteRow,
                        validationCancelChanges: validationCancelChanges
                      }">
                  </dxo-editing>
                  <dxo-search-panel placeholder="Buscar..." [visible]="true"></dxo-search-panel>

                  <dxi-column dataField="nombre" caption="Nombre" [width]="400"></dxi-column>
                  <dxi-column dataField="descripcion" caption="Descripción"></dxi-column>

                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
